{{#resume}}
	{{#if work.length}}
	<section id="work">
		<div class="container">
			<header class="section-heading p-t-40">
				<h2>Work Experience</h2>
			</header>
			<div class="container">
				<div class="paper-timeline">
					<div class="start-icon">
						<i class="fas fa-briefcase"></i>
					</div>

					<div class="row">
						{{#each work}}
							{{ @index }}
							{{#if @index % 2}}
								ind
							{{/if}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</section>
	{{/if}}
{{/resume}}