<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

	<style>
	{{{css}}}
	</style>
	
	</head>
	<body>
		<div id="app">
			<main class="template-resume resume2">
			{{> basics }}
			{{> work }}
			{{> volunteer }}
			{{> education }}
			{{> awards }}
			{{> publications }}
			{{> skills }}
			{{> languages }}
			{{> interests }}
			{{> references }}
			</main>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
		<script>
			{{js}}
		</script>
	</body>
</html>
